body {
    margin: 0px;
    background-color: whitesmoke;
    color: #fefae0;
/*     border: 5px solid #000000; */
    border-radius: 20px;
    text-shadow: 0px 0px 4px #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    text-align: center;
}

h2, h3 {
    margin: 0px;
    padding: 0px;
}

#logo {
    display: block;
    margin: auto;
    border-bottom: 3px solid #161A07;
}

#hero {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/lubartow-path.jpg");
    background-size: cover;
}

#hero-visit {
    background: #644C0A;
    padding: 5px 10px;
    margin-top: 100px;
    margin-bottom: 10px;
    border-radius: 15px;
    opacity: .9;
    white-space: pre-wrap;
}

#hero-description {
    width: 450px;
    background: #292207;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 15px;
    opacity: .9;
}

#activities {
    background-color: #292207;
    margin-top: 1px;
    padding-bottom: 15px;
}
#activity-images {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    background-color: #292207;
}

.mini-img {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#mini-1, #mini-2, #mini-3, #mini-4 {
    width: 160px;
    height: 120px;
    border-right: 1px solid #4E4607;
    border-bottom: 1px solid #4E4607;
    border-radius: 50%;
    margin-bottom: 0px;
    box-shadow: 3px 3px 3px #4E4607;
    opacity: .9;
}

#activity-title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.paragraph {
    margin-top: 0px;
    width: 160px;
    font-size: small;
}

.avatar {
    height: 160px;
    width: 150px;
    border: 2px solid #edf2f4;
    border-radius: 16px;
    opacity: .9;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 1px 1px #4E4607;
    background: #ACA78A;
    border-bottom: 8px solid #292207;
    border-radius: 18px;
}

#awesome-guide {
    width: 160px;
    font-size: small;
}

p:hover, h2:hover, h3:hover, h4:hover {
    text-shadow: 1px 1px #DEC724;
}

#mini-1:hover, #mini-2:hover, #mini-3:hover, #mini-4:hover {
    opacity: 1;
}


.avatar:hover {
    opacity: 1;
}